@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap);

body{
  font-size: large;
}
@media(max-width: 765px) {
  
  table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
     
    }
    
  }